* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #000000; 
}

a {
    color: #000000; 
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; 
}

a:hover {
    color: #888888; 
    transform: translateY(-2px); 
}

.logo img {
    height: auto;
    width: 180px;
    padding-bottom: 0px;
    padding-right:10px ;

}

.logo:hover {
    color: #888888; 
    transform: translateY(-2px); 
}

nav {
    display: flex;
    align-items: center;
    background-color: #f5f5f5; 
    height: 8vh;
    padding-left: 20px;
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; 
}

nav:hover {
    background-color: #e0e0e0; 
}

.nav-list {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5; 
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list.show {
    display: flex;
    flex-direction: column;
}

.nav-list li {
    letter-spacing: 2px;
    margin: 10px 20px;
}

.nav-list a {
    color: #000000; 
    transition: color 0.3s, transform 0.3s;
}

.nav-list a:hover {
    color: #888888; 
    transform: translateY(-2px); 
}

.menu-mobile {
    cursor: pointer;
    display: block;
    padding-right: 100px ;
}

.menu-mobile:hover div {
    background: #888888; 
}

main {
    flex: 1;
    position: relative;
}

/* DAQUI PARA BAIXO E CSS CART*/
/* DAQUI PARA BAIXO E CSS CART*/

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto {
    max-width: 1550px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.produto h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.produto-item {
    display: flex;
    background-color: rgba(236, 236, 236, 0.377);
    border-radius: 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.produto-img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-right: 1px solid #eee;
}

.produto-info {
    padding: 20px;
    text-align: left;
    flex: 1;
}

.produto-info h2 {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.size {
    margin-top: 20px;
}

.size-options {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.size-option {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.size-option:hover {
    background-color: #000000;
    color: #fff;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #555;
}

.descricao {
    margin-top: 20px;
    color: #000000;
    font-size: 12px;
    opacity: 50%;
}

.cart-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-summary {
    margin-top: 20px;
}
/* RODAPE NAO PRECISA MEXER*/
/* RODAPE NAO PRECISA MEXER*/
/* RODAPE NAO PRECISA MEXER*/

footer {
    background-color: #f5f5f5; 
    color: #000000; 
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s; 
}


.footer:hover {
    background-color: #e0e0e0; 
}

.footer-content {
    opacity: 1; 
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: #000000;
    text-decoration: none; 
    transition: color 0.3s; 
}

.footer a:hover {
    color: #888888; 
}

@media (max-width: 600px) {
    .container {
      padding: 10px;
      /* centralizar em celulares */
    }
  }